/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

/*Start of box code*/
/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Box */

.thumbnails {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.thumbnails .box {
    margin: 0 1em 2em 1em;
    width: 30%;
}

/* Box */

.box {
    border-radius: 4px;
    margin-bottom: 2em;
    background: linear-gradient(to bottom, rgba(239, 159, 43, 0.49), rgba(210, 16, 2, 0.15));
    text-align: center;
}

@media screen and (max-width: 480px) {

    .box .inner {
        padding: 1em;
    }

}

.box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}
/*End of Box Code*/

/*Start of box_user code*/
.thumbnails .box_user {
    margin: 0 1em 2em 1em;
    width: 90%;
}

/* Box */

.box_user {
    border-radius: 4px;
    margin-bottom: 2em;
    background: linear-gradient(to bottom, rgba(239, 159, 43, 0.49), rgba(210, 16, 2, 0.15));
    text-align: center;
}

@media screen and (max-width: 480px) {

    .box_user .inner {
        padding: 1em;
    }

}

.box_user.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}
/*End of box_user code */

/*Start of box_user2 code*/
.thumbnails .box_user2 {
    margin: 0 1em 2em 1em;
    width: 20%;
}

/* Box */

.box_user2 {
    border-radius: 4px;
    margin-bottom: 2em;
    background: linear-gradient(to bottom, rgba(239, 159, 43, 0.49), rgba(210, 16, 2, 0.15));
    text-align: center;
}

@media screen and (max-width: 480px) {

    .box_user2 .inner {
        padding: 1em;
    }

}

.box_user2.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}
/*End of box_user2 code */


body {
    background-color: rgba(223, 132, 94, 0.22);
    font-family: "Open Sans", sans-serif;
    padding: 5px 25px;
    font-size: 18px;
    margin: 0;
    color: white;
}

h1 {
    font-family: "Merriweather", serif;
    font-size: 32px;
}


#navbar > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
}

#navbar > ul > li {
    margin: 0 2em;
    display: inline-block;
    float: right;
    border-bottom: solid white 2px;
    position: relative;
}

.nav-link {
    width: 100%;
    height: 100%;
    margin: 0;
    text-decoration: none;
}

a {
    color: white;
    background-color: rgba(255, 69, 0, 0.37);
    padding: 5px 7px 5px 7px;
    border-radius: 6px;
}

#Buzz{
    border-style: outset;
    border-radius: 50%;
    overlayColor: 'white';
}


#intro {
    font-size: 2.5em;
}

#fancy {
    color: rgba(255, 69, 0, 0.71);
    text-decoration: underline;
    font-size: 40px;
}

#rate {
    font-size: 1.5em;
}

#subintro {
    font-size: 1.5em;
}

.button {
    background: linear-gradient(to bottom, rgba(239, 159, 43, 0.55), rgba(210, 16, 2, 0.21)); /*#c8c384*/
    border: none;
    position: center;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: white;
}


/*dashboard stuff*/

.container
{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
}

.container .box
{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    /*background: #000;*/
    float: left;
    margin: 15px;
    box-sizing: border-box;
    /*overflow: hidden;*/
    /*border-radius: 10px;*/
    /*margin: 1rem;*/
    background: rgba(239, 159, 43, 0.49);
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
}

.box:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
}


.button_dash {
    background-color: rgba(239, 159, 43, 0.49); /*#c8c384*/
    border: none;
    position: center;
    color: white;
    padding: 100px 150px; /*15 25*/
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s linear;
}

.button_dash:hover {
    background-color: rgba(239, 159, 43, 0.49);
    color: white;
    transform: translate3D(0, -10px, 0);
}

/*Homepage edits*/
.home-section {
    text-align: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.home-section p {
    text-align: justify;
}

.home-section ul {
    list-style-type: circle;
    list-style-position: outside;
    float: left;
}

.home-section li {
    display: list-item;
}

#des {
    height: 100px;
}
/*End Homepage edits*/

/*Edits by Nidhi for Info Page*/

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ef9438;
    color: white;
}

td, th {
    padding: 8px;
}

.class-table td, th {
    border: 1px solid #ddd;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.addform {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;

}

.info-box{
    width: 75%;
    position: relative;
    margin: 6% auto;
    background: rgba(255, 165, 0, 0.3);
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
}

/*End edits by Nidhi for Info Page*/


/*style2 stuff*/

.hero{
    /*height: 100%;*/
    width: 100%;
    /*position: absolute;*/
}

.form-box{
    height: 480px;
    width: 380px;
    position: relative;
    margin: 6% auto;
    background: rgba(255, 255, 255, 1);
    padding: 5px;
    overflow: hidden;
    border-radius: 5px;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgba(239, 159, 43, 0.49);
    border-radius: 30px;
}

.toggle-button{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#button{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 110px;
    background: linear-gradient(to right, rgba(239, 159, 43, 0.49), rgba(210, 16, 2, 0.15));
    border-radius: 30px;
    transition: 0.5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-group{
    top: 130px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-button{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgba(239, 159, 43, 0.55), rgba(210, 16, 2, 0.21));
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left: 50px;
}
#signup{
    left: 450px;
}

li{
    color: white;
    display: inline;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.left{
    float: left;
}
.right{
    float: right;
}